* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  color: $dark-grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #eee;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  padding: 1rem;
}

input,
textarea {
  outline: none;
}

::placeholder {
  font-size: 1.4rem;
}
